<template>
    <div id="print-cards">
        <div v-for="card in cardStore.cards">
            <div class="card">
                <div class="ean"><img src='data:image/png;base64,{{computeBarcode(card)}}'></div>

                <div class="code">{{card.code}}</div>
                <div class="price">{{card.price}}</div>
                <div class="title">{{card.title}}</div>

                <div class="bottom-row" v-if="card.conversion != 'Error'">
                    <div class="conversionPrice">1 {{cardStore.conversions[card.unit]}} =
                        {{card.conversionPrice.toFixed(2)}} Kč
                    </div>
                </div>
                <button class="btn btn-xs btn-danger hidden-print remove-btn" @click.prevent="remove(card)">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import cardStore from '../../stores/cardStore'
    var codes = require("rescode");
    export default {
        props: {
            cards: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                cardStore: cardStore
            }
        },
        methods: {
            remove(card) {
                this.cardStore.cards.$remove(card);
            },
            computeBarcode(card) {
                var ean = card.ean;
                if (ean == null) {
                    return '';
                }
                codes.loadModules(["ean2", "ean5", "ean8", "ean13"], {height: 0.2, includetext: true});

                var eanVersion = null;
                switch (ean.length) {
                    case 8:
                        eanVersion = 'ean8';
                        break;
                    case 13:
                        eanVersion = 'ean13';
                        break;
                }
                if (eanVersion != null) {
                    var data = codes.create(eanVersion, ean);

                    return data.toString('base64');
                }
                return false;
            }
        },
        computed: {
            showBottomRow() {
                return this.card.conversion != 'Error'
            },
            barCode() {
                return this.computeBarcode();
            }
        }
    }
</script>

<style scoped>
    #print-cards {
        width: 18cm;
    }

    #print-cards .card {
        width: 6cm;
        height: 3cm;
        border: 1px solid black;
        float: left;
        padding: 0.2cm;
        margin: 0.1cm;
        page-break-inside: avoid !important;
    }

    /*#print-cards .card .remove-btn {
        position: relative;
        left: 6cm;
        top: -5px;
        display: inline-block;
    }*/

    #print-cards .card .ean {
        display: block;
    }

    #print-cards .card .code {
        float: left;
        width: 35%;
        min-height: 13px;
        font-size: 9px;
    }

    #print-cards .card .price {
        position: relative;
        text-align: right;
        float: right;
        width: 70%;
        font-size: 36px;
        top: -10px;
        font-weight: bold;
    }

    #print-cards .card .title {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -15px;
        line-height: 0.9;
    }

    #print-cards .card .bottom-row {
        position: relative;
        bottom: 20px;
    }

    #print-cards .card .bottom-row div {
        display: inline-block;
    }

    #print-cards .card .bottom-row .amount, .conversion, .conversionPrice {
        font-size: 11px;
    }
</style>