<template>
    <div id="app">
        <nav class="navbar navbar-default hidden-print">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tisk cenovek</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a @click.prevent="addCard" v-if="!prePrint">
                                Přidat kartu
                            </a>
                        </li>
                        <li class="input-nav-item">
                            Přidat <input type="text" name="add_multiple_cards" v-model="addMultipleCardsCount"
                                          class="form-control"> karet
                            <button class="btn btn-default" @click.prevent="addMultipleCards">Přidat</button>
                        </li>
                        <li>
                            <a @click.prevent="preview" v-if="!prePrint">
                                Náhled
                            </a>
                        </li>
                        <li>
                            <a @click.prevent="prePrint = false" v-if="prePrint">
                                Zpět
                            </a>
                        </li>
                        <li>
                            <a @click.prevent="print" v-if="prePrint">
                                Tisknout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="alert alert-danger" v-if="!installed">
                V aplikaci nejsou nainstalována výchozí data.
                <button class="btn btn-success btn-lg" @click.prevent="install">
                    <span v-if="!installing">
                        Instalovat
                    </span>
                    <span v-else>
                        Instaluji... počkejte prosím.
                    </span>
                </button>
            </div>
            <search-db v-if="installed" class="hidden-print"></search-db>
            <div class="alert alert-danger hidden-print" v-if="wrongEans.length > 0">
                Máte {{wrongEans.length}} špatně zadaných EANů <br>
                <ul>
                    <li v-for="card in wrongEans"> {{card.title}} - {{card.ean}} </li>
                </ul>
            </div>
            <upload-csv v-if="installed" class="hidden-print"></upload-csv>
            <table class="table table-bordered table-hover table-products" v-if="!prePrint">
                <thead>
                <tr>
                    <th></th>
                    <th>EAN</th>
                    <th></th>
                    <th>Kód</th>
                    <th>Množství</th>
                    <th>M.J.</th>
                    <th>Přepočet</th>
                    <th>Přepočet cena</th>
                    <th width="30%">Název</th>
                    <th>Cena</th>
                    <th></th>
                </tr>
                </thead>
                <tr v-for="card in cardStore.cards" is="card" :card.sync="card" track-by="_id" :index="$index + 1"></tr>
            </table>
            <div v-if="prePrint">
                <print-cards></print-cards>
            </div>
        </div>
    </div>
</template>

<style>
    @import '/static/bootstrap/css/bootstrap.css';

    .input-nav-item {
        padding-top: 8px;
        padding-bottom: 15px;
        display: inline-block;
        text-align: center;
    }

    .input-nav-item input {
        width: 15%;
        display: inline-block !important;
    }

    .table-products {
        margin-top: 15px;
    }
</style>

<script>
    var codes = require("rescode");
    const PouchDB = require('pouchdb/dist/pouchdb');
    var db = new PouchDB('cards');
    var fs = require('fs');
    const storage = require('electron-json-storage');

    import cardStore from './stores/cardStore'
    import Hello from './components/Hello'
    import Card from  './components/Card.vue'
    import PrintCards from  './components/print/Cards.vue'
    import SearchDB from './components/search-db.vue'
    import UploadCsv from './components/UploadCsv.vue'

    export default {
        ready() {
            this.isInstalled();
        },
        data() {
            return {
                cardStore: cardStore,
                prePrint: false,
                addMultipleCardsCount: 0,
                installing: false,
                installed: false
            }
        },
        components: {
            Hello,
            Card,
            PrintCards,
            'search-db': SearchDB,
            'upload-csv': UploadCsv
        },
        methods: {
            isInstalled() {
                var vm = this;
                storage.has('installed', function (error, hasKey) {
                    vm.installed = false;

                    if (hasKey) {
                        vm.installed = true;
                    }
                });
            },
            install() {
                var vm = this;
                vm.installing = true;
                db.destroy().then(function (response) {
                    db = new PouchDB('cards');
                    var ddoc = {
                        _id: '_design/title_index_lowercase',
                        views: {
                            by_title: {
                                map: function (doc) { emit(doc.title.toLowerCase()); }.toString()
                            }
                        }
                    };
                    // save it
                    db.put(ddoc).then(function () {
                        db.query('title_index_lowercase/by_title', {
                            limit: 0 // don't return any results
                        }).then(function (res) {
                            var ddoc = {
                                _id: '_design/ean',
                                views: {
                                    by_ean: {
                                        map: function (doc) { emit(doc.ean); }.toString()
                                    }
                                }
                            };
                            // save it
                            db.put(ddoc).then(function () {
                                db.query('ean/by_ean', {
                                    limit: 0 // don't return any results
                                }).then(function (res) {
                                    storage.set('installed', { installed: true }, function (error) {
                                        if (error) alert(error);
                                    });
                                    vm.installing = false;
                                    vm.isInstalled();
                                }).catch(function (err) {
                                    alert(err);
                                });
                            }).catch(function (err) {
                                console.error(err);
                            });
                        }).catch(function (err) {
                            alert(err);
                        });
                    }).catch(function (err) {
                        alert(err);
                    });
                }).catch(function (err) {
                    alert(err);
                });
            },
            loadJSON(json, callback) {

                var xobj = new XMLHttpRequest();
                xobj.overrideMimeType("application/json");
                xobj.open('GET', json, true);
                xobj.onreadystatechange = function () {
                    if (xobj.readyState == 4 && xobj.status == "200") {
                        callback(xobj.responseText);
                    }
                };
                xobj.send(null);
            },
            addCard() {
                var vm = this;
                var data = {
                    ean: null,
                    code: null,
                    amount: null,
                    conversion: null,
                    conversionPrice: null,
                    barCode: null, //bar code in base64
                    unit: null,
                    title: null,
                    price: null,
                }
                cardStore.cards.push(data);
            },
            addMultipleCards() {
                var count = this.addMultipleCardsCount;
                for (var i = 1; i <= count; i++) {
                    this.addCard()
                }
            },
            preview() {
                this.$broadcast('preview-requested');
                this.prePrint = true;
            },
            print() {
                var vm = this;
                cardStore.cards.forEach(function (card) {
                    card['_id'] = card.ean;
                    card['_rev'] = card['_rev'];
                    card[ '_attachments' ] = {
                        'barcode.png': {
                            content_type: 'image/png',
                            data: vm.computeBarcode(card)
                        }
                    }
                });
                console.log(cardStore.cards);
                db.bulkDocs(cardStore.cards).then(function(result){
                    console.log(result);
                }).catch(function(err){
                    console.error(err);
                });
                window.print();
            },
            computeBarcode(card) {
                var ean = card.ean;
                if (ean == null) {
                    return '';
                }
                codes.loadModules([ "ean2", "ean5", "ean8", "ean13" ], { height: 0.5, includetext: true });

                var eanVersion = null;
                switch (ean.length) {
                    case 8:
                        eanVersion = 'ean8';
                        break;
                    case 13:
                        eanVersion = 'ean13';
                        break;
                }
                if (eanVersion != null) {
                    var data = codes.create(eanVersion, ean);

                    return data.toString('base64');
                }
                return false;
            }
        },
        computed: {
            wrongEans: function() {
                var result = [];
                this.cards.forEach(function(card){
                    if ( card.ean.length != 8 && card.ean.length != 13 ) {
                        result.push(card);
                    }
                })
                return result;
            }
        }
    }
</script>